body {
  background:url(assets/ron-smith-328524-unsplash.jpg);

}

.navbar-light{
  background-color: peachpuff;
  font-size-adjust: auto;
  font-size: large;
  text-align: right;
  font-weight: bolder;
  max-height: inherit;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.logo{
  padding-left: 10px;
  height: 50px;
}

.img-responsive{
  width: 1110px;
}


*{
  list-style-type: none;
}


.quicklink-block {
  margin-right: 100px;
  font-size: x-large;
  font-weight: 500;
  float: right;
  padding-top: 0;
  padding-left: 90px;
}

.quicklink-text{
  margin-left: 320px;
  }

  a:hover {
      color: navajowhite;
      text-decoration: underline;
  }

  a {
    color: #21305ff2;
    text-decoration: none;
    background-color: transparent;
