/*********** Global CSS***********/
body{
  background-color: rgb(251, 247, 181);

}

.page {
  position: relative;
  margin: 0 auto;
  max-width: inherit;
}

.navbar-light {
  font-size-adjust: auto;
  font-size: large;
  text-align: right;
  font-weight: bolder;
  max-height: inherit;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar-contactpage {
  font-size: large;
  font-weight: bolder;
}

.logo {
  height: 50px;
  padding-right: 18px;
  margin-left: 0px;
}

.contact_logo {
  padding-left: 0px;
  height: 50px;
  padding-right: 18px;
}

* {
  list-style-type: none;
}



/*********** Welcome Page CSS***********/

.img-fluid {
  width: 1110px;
  border: 0px;
}

.pics_row {
  box-sizing: border-box;
}

.quicklink-block {
  font-size: larger;
  font-weight: 500;
  padding-left: 8px;

}


/*********** Music Page CSS***********/

#music_list{
  border: 1px solid black;
}

.music_image {
    width: 100%;
    padding-top: 0px;
    border: 1px solid black;
  }

audio{
    width: 220px;
  }

  .audio_text{
    text-align:inherit;
  }

  .track_container{
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
}

#contact_image {
  padding-top: 0px;
  width: 900px;
}

.band_text{
    text-align: center;
    font-weight: 400;
    font-style: italic;
    box-sizing: border-box;
}

.bio_section {
  margin: 5px;
  width: 250px;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

/*********** Biography CSS***********/

@media screen and (max-width:768px) {
   .col-xs-12{
 display: flex;
  flex-direction: column;
  margin-top: 350px;
}

.text-center{
  padding-right: 25px;
}

}

.music_image{
  margin-bottom: 10px;
}

.bio_text{
  font-size:200;
  font-weight:500;
  color:black
}

h6{
  padding-left: 5px;
  font-weight: bold;
}

#music_bio{
   border: 1px solid black;
}

#album_images {
padding-left: 70px;
position: relative;
top: -400px;

}

.text-center{
  padding-bottom: 10px;
  font-weight: bolder;
  text-decoration-style: wavy;

}
.album1_image{
  width: 200px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.album2_image{
  width:200px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.album3_image{
  width:190px;
}

/*********** Gallery CSS***********/
div.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 200px;
    margin-left: 16px;
  }


div.gallery:hover {
    border: 5px solid grey;
}

div.gallery img {
    width: 100%;
    /* height: auto; */
}

div.desc {
    padding: 10px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

/*********** Booking CSS***********/

.text-center{
padding-top: 2em;
text-align: left;
}

.disclaimer{
  color: black;
}

  #event_button{
    margin-left: 0px;
  }


/*********** Event CSS***********/

.float-left{
  width:100%;
}

.d-block{
  width: 100%;
}

.float-right{
  width:100%;
}

.bg-1 {
background: #2d2d30;
color: #bdbdbd;
padding-bottom: 30px;
}

.bg-1 h3 {color: #fff;
}

.bg-1 p {font-style: italic;
}

.event_text{
  text-align: center;
}

.btn {
    padding: 10px 20px;
    margin: 15px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .1s;
}

.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}


/*********** Footer CSS***********/
a:hover {
  color: red;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .margin-top-mobile{
    margin-top: 10px;
  }
}

@media screen and (max-width:768px) {
  .padding-top-mobile {
    padding-top: 10px;
    padding-bottom: 15px;
  }

}

.quicklink-text{
  color: black;
}

.quicklink-block{
  color: darkblue;
}

.Connect-with us-text{
  color: black;
}
